<div class="view">
    <h1 class="ui dividing header">cinnamon</h1>

    <section class="ui raised segment" ng-class="{green: build.success, red: !build.success && !build.running}" data-ng-repeat="build in builds">
        <header>
            <h2 class="ui header">
                <i class="circular red thumbs down icon" data-ng-if="!build.success && !build.running"></i>

                <i class="circular green thumbs up icon" data-ng-if="build.success && !build.running"></i>

                <i class="circular loading icon" data-ng-if="build.running"></i> 
                {{build.repository}}
            </h2>
        </header>

        <div data-ng-if="build.showLogfile" class="annotation">
            <div class="ui instructive segment">
                <pre>
{{build.logfile}}
                </pre>
            </div>
        </div>

        <div class="ui bottom attached label"><strong>Commit</strong> {{build.commit}} - <strong>Branch</strong> {{build.branch}} - <strong>Date</strong> {{build.created | date: 'dd.MM.yyyy HH:mm:ss'}}

        <div data-ng-click="toggleLogfile(build)" class="ui mini green floated right button">
            Show Results
        </div>
    </div></section>
</div>